body {
    background-color: black;
}
#slider {
    position: relative; 
    text-align: center;
    padding-top: 2.5rem;
}

#slider {
    margin: 0 auto;
}

#slides article { 
    width: 20%;
    float: left;
}

#slides .image {
    width: 500%;
    line-height: 0;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

article img {
    width: 100%;
}

#desktop:checked ~ #slider {
    max-width:  60rem;
}

label {
    cursor: pointer;
    vertical-align: bottom;
}

.label-item {
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;
    display: inline-block;
    border-radius: 0.625rem;
    text-align: center;
    align-items: center;
}

.all input {
    display: none;
} 

#switch1:checked ~ #slides .image {
    margin-left: 0; 
}
#switch2:checked ~ #slides .image {
    margin-left: -100%; 
}
#switch3:checked ~ #slides .image {
    margin-left: -200%; 
}
#switch4:checked ~ #slides .image {
    margin-left: -300%; 
}

#controls {
    margin: -25% 0 0 0;
    width: 100%;
    height: 3.125rem;
}

#active label { /* стиль отдельного переключателя*/
    border-radius: 0.625rem;
    display: inline-block; /*расположение в строку*/
    width: 1rem;
    height: 1rem;
    background: transparent;
    border: 0.125rem solid rgb(70, 49, 146);
}
#active {/* расположение блока с переключателями*/
    margin: 23% 0 0 ;
    text-align: center;
    margin-left: 83%;
}

#active label:hover {/* поведение чекбокса при наведении*/
    background: #f9fafa;
    border-color: rgb(70, 49, 146)!important;  /* выполнение в любом случае*/
}

/* цвет активного лейбла при активации чекбокса */
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4) {
    background: #18a3dd;
    border-color: #18a3dd !important;
}

#slides .image { /*анимация пролистывания изображений */
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000)
}

#controls label:hover { /* прозрачность стрелок при наведении */
 opacity: 0.6;
}

#controls label { /* прозрачность стрелок при отводе курсора */
    transition: opacity 0.2s ease-out;
}